@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell.Navigation
@model CodeArt.Episerver.Health.Models.MainModel

@{
    Layout = "Layout.cshtml";
}


<div class="epi-contentArea">
    <h1 class="EP-prefix">Health Check</h1>
    <p>
        <span class="EP-systemInfo">
            See Health Check overview
        </span>
    </p>


</div>
<div class="epi-formArea">
</div>
